CREATE TABLE IF NOT EXISTS public.guichet ( id UUID PRIMARY KEY DEFAULT uuid_generate_v4(), nom_guichet TEXT NOT NULL, appellation TEXT, agence_id UUID NOT NULL REFERENCES public.agence(id) ON DELETE CASCADE, created_at TIMESTAMPTZ DEFAULT NOW(), UNIQUE (nom_guichet, agence_id) );
